body{
    position: relative;
    width: 99vw;
    height: 100vh;
}
nav{
    top: 0rem;
    z-index: 4;
    position: fixed;
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    background: rgb(242,225,123);
    background: -moz-radial-gradient(circle, rgba(242,225,123,1) 0%, rgba(255,0,0,1) 69%, rgba(255,0,0,1) 76%);
    background: -webkit-radial-gradient(circle, rgba(242,225,123,1) 0%, rgba(255,0,0,1) 69%, rgba(255,0,0,1) 76%);
    background: radial-gradient(circle, rgba(242,225,123,1) 0%, rgba(255,0,0,1) 69%, rgba(255,0,0,1) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2e17b",endColorstr="#ff0000",GradientType=1);
}
.aside{
    position: fixed;
    top: 0rem;
    display: none;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(119, 116, 116, 0.5);
}
aside{
    display: flex;
    width: 20rem;
    position: relative;
    padding: 0.625rem;
    background: rgb(60, 14, 26);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 40%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 40%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg,rgba(253,29,29,1) 20%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    border-radius: 0.375rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 2.1875rem;
    height: 100vh;
    border: 0.1875rem inset rgba(28,110,164,0.35);
    border-radius: 1.9375rem 0.625rem 0.75rem 2.5rem; 
}
.menu{
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 0.625rem;
    width: 21.875rem;
}
.menuvisi{
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    width: 18.75rem;
    height: 5.625rem;
    margin-top: 1.25rem;
}
div > ion-icon:nth-child(1){
    width: 1.875rem;
    height: 1.25rem;
}
div > ion-icon:nth-child(3){
    color: green;
    width: 1.625rem;
    height: 1.5625rem;
}
aside > ion-icon{
    position: absolute;
    right: 0.625rem;
    top: 0.3125rem;
    width: 1.875rem;
    height: 1.875rem;
}
header{
    position: fixed;
    top: 0rem;
    z-index: 1;
    left: 0rem;
    background: #FFFFFF;
    box-shadow: 0rem 0.375rem 0.375rem rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
header > img{
    width: 5.625rem;
    height: 3.75rem;
    margin: 0.625rem;
    margin-left: 1.625rem;
}
header > ion-icon{
    width: 3.75rem;
    height: 3.125rem;
    margin: 1.125rem;
    margin-right: 1.625rem;
}
.transparencia{
    width: 100%;
    height: 100%;
}
.logo_login{
    justify-content: center;
    align-items: center;
    display: flex;
}
.input_login{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.button_login{
    justify-content: center;
    align-items: center;
    display: flex;
}
.button_login > button{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    background: #E7E7E7;
    border-radius: 1.1875rem;
    margin-top: 0.625rem;
    height: 2.5rem;
    width: 7.5rem;
    margin-bottom: 30px;
}
.input_login > input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #AEAEAE;
    margin-top: 2.5rem;
    border-radius: 1.1875rem;
    height: 3.75rem;
    width: 15rem;
}
.logo_login > img{
    width: 12.5rem;
    margin-top: 0.625rem;
}
.conteiner{
    flex-direction: flex;
    text-align: start;
}
main{
    width: 100%;
    height: 100%;
    margin-top:6.25rem;
}
section > article{
    margin-bottom: 0.625rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.125rem;
    border-bottom: 0.125rem inset  rgba(119, 116, 116, 0.5);
}
section{
    width: 100%;
    height: auto;
}
section> article:last-child{
    margin-bottom: 5rem ;
}
footer{
    z-index: 1;
    margin-top:20.5rem;
    position: fixed;
    left: 0rem;
    bottom: 0rem;
    background: #FFFFFF;
    box-shadow: 0rem -0.5rem 0.375rem rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
}
div > input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin: 0.625rem;
    width: 100%;
    height: 2.375rem;
    padding-left: 0.9375rem;
}
footer > ion-icon {
    width: 3.125rem;
    height: 3.75rem;
    margin-top: 0.3125rem;
    margin-right: 0.625rem;
    margin-left: 0.9375rem;
}
footer > ion-icon:nth-child(3) {
    width: 3.125rem;
    height: 3.75rem;
    margin-right: 1.25rem;
}
.global{
    background: #ffffff;
}
.log{
    background: #DCDCDC;
    border-bottom: 0.125rem inset  rgba(87, 86, 86, 0.5);
}
.msgprive{
    background: #FFDEDE;
    border-bottom: 0.125rem inset  rgba(174, 125, 125, 0.5);
}
.horario{
    margin-left: 0.625rem
}
.nome{
    margin: 0.3125rem
}
.msg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.nomeremetente{
    text-decoration: dotted;
}
.lobbymsg{
    padding-left: 0.625rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
}
.divinput{
    width: 80%;
    height: 100%;
    padding-bottom: 0.625rem;
}
.desativo{
    display:none;
}
.ativo{
    display: flex;
}